websockets
vosk
llama-cpp-python==0.2.90
piper-tts
webrtcvad-wheels
pydantic
pydantic_settings
pyyaml
structlog
tenacity
numpy
scipy
torch
soundfile
TTS
ari
swaggerpy
aiohttp
websockets
webrtcvad
soundfile
structlog
tenacity
pyyaml
pydantic
pydantic_settings
openai-whisper
